Name | Type | Description
----|----|----
Intergers|int| Whole numbers, such as: 3 300 200
Floating Point|float|Numbers with a decimal point: 2.3 4.6 100.0
Strings|str|Ordered sequence of characters" "hello" 'Sammy' "2000"
Lists|list|Ordered sequence of objects: [10,"hello",200.3]
Dictionaries|dict|Unordered Key:Value pairs: {"mykey":"value","name":"Frankie"}
Tuples|tup|Ordered immutable sequence of objects:(10,"hello",200.3)
Sets|set|Unordered collection of unique objects: {"a","b"}
Booleans|bool|Logical value indicating True or False

In [2]:
2+1

3

In [3]:
2-1

1

In [6]:
2*2

4

In [5]:
3/2

1.5

In [9]:
7/4

1.75

In [7]:
7//4 # Returns the remainder.

1

In [8]:
7 % 4 # After the number goes in evenly, what is the remainder? In this instance 3.
#  4 goes into 7 evenly just once, with a remainder of 3

3

In [10]:
50 % 5 # Since this will divide evenly our remainder is 0

0

In [11]:
23 % 2 # Test for even or odd, mod 2 is easy. Even is 0

1

In [ ]:
20 % 2 # Even

In [12]:
2 ** 3 # This is a Powers setup, 2 to the power of three. 2 * 2 * 2

8

In [14]:
2 + 10 * 10 + 3 # Order or operations - basic - multiplication goes first automatically.

105

In [13]:
(2 + 10) * (10 + 3) # paranthesis creates a defined order of operations. Results in 12 * 13

156